/* Excalibur Nouveau */
@font-face {
    font-family: "Excalibur Nouveau";
    src: url(../fonts/Excalibur-Nouveau.ttf);
    font-weight: normal;
    font-style: normal;
}

/* Retro Boldy */
@font-face {
    font-family: "Retro Boldy";
    src: url(../fonts/RetroBoldy-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

/* Speedway */
@font-face {
    font-family: "Speedway";
    src: url(../fonts/Speedway.ttf);
    font-weight: normal;
    font-style: normal;
}

/* Verve */
@font-face {
    font-family: "Verve";
    src: url(../fonts/Verve.ttf);
    font-weight: normal;
    font-style: normal;
}

/* Vintage */
@font-face {
    font-family: "Vintage";
    src: url(../fonts/Vintage.ttf);
    font-weight: normal;
    font-style: normal;
}

/* Barcode */
@font-face {
    font-family: "Barcode";
    src: url(../fonts/Another-barcode-font.ttf);
    font-weight: normal;
    font-style: normal;
}

/* Franchise */
@font-face {
    font-family: "Franchise";
    src: url(../fonts/Franchise.ttf);
    font-weight: normal;
    font-style: normal;
}

/* Planet Kosmos */
@font-face {
    font-family: "Planet Kosmos";
    src: url(../fonts/PlanetKosmos.ttf);
    font-weight: normal;
    font-style: normal;
}

/* Space Time */
@font-face {
    font-family: "Space Time";
    src: url(../fonts/spacetime-regular.ttf);
    font-weight: normal;
    font-style: normal;
}

/* Mentra */
@font-face {
    font-family: "Mentra";
    src: url(../fonts/MENTRA.otf);
    font-weight: normal;
    font-style: normal;
}

/* Stretch Pro */
@font-face {
    font-family: "Stretch Pro";
    src: url(../fonts/StretchPro.otf);
    font-weight: normal;
    font-style: normal;
}

/* Saddlebag */
@font-face {
    font-family: "Saddlebag";
    src: url(../fonts/Saddlebag.ttf);
    font-weight: normal;
    font-style: normal;
}

/* Coolvetica */
@font-face {
    font-family: "Coolvetica";
    src: url(../fonts/coolvetica-rg.otf);
    font-weight: normal;
    font-style: normal;
}

/* Computer Modern */
@font-face {
    font-family: "Computer Modern";
    src: url(../fonts/cmunrm.ttf);
    font-weight: normal;
    font-style: normal;
}

/* Alarm Clock */
@font-face {
    font-family: "Alarm clock";
    src: url(../fonts/alarm_clock.ttf);
    font-weight: normal;
    font-style: normal;
}

/* Anderson Grotesk Ultrabold*/
@font-face {
    font-family: "Anderson Grotesk Ultrabold";
    src: url(../fonts/AndersonGrotesk-Ultrabold.otf);
    font-weight: normal;
    font-style: normal;
}

/* Anderson Grotesk */
@font-face {
    font-family: "Anderson Grotesk";
    src: url(../fonts/AndersonGrotesk.otf);
    font-weight: normal;
    font-style: normal;
}

/* Against */
@font-face {
    font-family: "Against";
    src: url(../fonts/against_regular.otf);
    font-weight: normal;
    font-style: normal;
}

/* Black Mustang */
@font-face {
    font-family: "Black Mustang";
    src: url(../fonts/Black_Mustang.ttf);
    font-weight: normal;
    font-style: normal;
}

/* Cfour */
@font-face {
    font-family: "Cfour";
    src: url(../fonts/Cfour.otf);
    font-weight: normal;
    font-style: normal;
}

/* Calligrapher */
@font-face {
    font-family: "Calligrapher";
    src: url(../fonts/CALLN_.TTF);
    font-weight: normal;
    font-style: normal;
}

/* Retro Cool */
@font-face {
    font-family: "Retro Cool";
    src: url(../fonts/RetroCoolRegular-Yz83j.otf);
    font-weight: normal;
    font-style: normal;
}

/* Chappa */
@font-face {
    font-family: "Chappa";
    src: url(../fonts/chappa-Black.ttf);
    font-weight: normal;
    font-style: normal;
}

/* Bronova Bold */
@font-face {
    font-family: "Bronova Bold";
    src: url(../fonts/Bronova_Bold.otf);
    font-weight: normal;
    font-style: normal;
}

/* Blemo */
@font-face {
    font-family: "Blemo";
    src: url(../fonts/blemo.otf);
    font-weight: normal;
    font-style: normal;
}

/* Akira Expanded */
@font-face {
    font-family: "Akira Expanded";
    src: url(../fonts/Akira\ Expanded\ Demo.otf);
    font-weight: normal;
    font-style: normal;
}

/* Bogam */
@font-face {
    font-family: "Bogam";
    src: url(../fonts/Bogam.ttf);
    font-weight: normal;
    font-style: normal;
}

/* Cino */
@font-face {
    font-family: "Cino";
    src: url(../fonts/Cino\ Regular.otf);
    font-weight: normal;
    font-style: normal;
}

/* Thunder */
@font-face {
    font-family: "Thunder";
    src: url(../fonts/Thunder-BoldHCItalic.ttf);
    font-weight: normal;
    font-style: normal;
}

/* Vivaldi */
@font-face {
    font-family: "Vivaldi";
    src: url(../fonts/VIVALDII.TTF);
    font-weight: normal;
    font-style: normal;
}