h1 {
    height: 150px;
    text-align: center;
    font-family: 'Coolvetica'; font-style: normal;
    font-size: 90px;
    animation: header 5s;
}

@keyframes header {
    0%   {font-family: 'Helvetica';}
    25%  {font-family: 'Retro Boldy'; }
    50%  {font-family: 'Planet Kosmos';}
    75%  {font-family: 'Cfour';}
    100% {font-family: 'Black Mustang';}
}

h3 {
    font-family: 'Helvetica';
    text-align: center;
    font-size: 100px;
}

.topptekst {
    font-family: 'Helvetica';
    text-align: center;
    font-size: 30px;
}

.MaanedensFunn {
    text-align: center;
    font-size: 100px;
}

.bannertop {
    font-family: 'Helvetica';
    text-align: right;
    font-size: 20px;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #FFE9C7;
    padding-top: 1%;
    
}

.bannerbottom {
    font-family: 'Helvetica';
    text-align: center;
    font-size: 20px;
}

.menylinje {
    font-family: 'Helvetica';
    text-align: center;
    font-size: 30px;
}

.arkivlisten {
    font-size: 40px;
}

.clock {
    font-family: 'Alarm clock';
    font-size: 30px;
    display: inline-block;
    vertical-align: middle;
}

html {
    background-color: #FFE9C7;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 5%;
    
}

a {
    color: #921131;
    text-decoration: none;
    cursor: pointer;
}

